autostart/
baloofilerc
baloofilerc
flutter/
bluedevilglobalrc
BraveSoftware/
dconf/
dolphinrc
fish/completions
fish/conf.d
fish/fish_variables
fish/functions
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
KDE/
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
menus/
omf/
QtProject.conf
mimeapps.list
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
systemsettingsrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
waybar-backup-01-2025/
waypaper/
xsettingsd/
yay/
Postman/
vlc/
